extends ../layout
block content
  h1 Users
  p
    a(href="/users/create") Crear nuevo Usuario
  -if(users.length > 0)
    table
      thead
        tr
          th Email
          th Password
          th
          th
          th
      tbody
        -each item in users
          tr
            td #{item.email}
            td #{item.password}
            td 
                a(href="/users/#{item._id}") Ver
            td 
                a(href="/users/#{item._id}/edit") Editar
            td 
                form(method="post", action="/users/#{item._id}")
                input(type="hidden", name="_method", value="DELETE")
                a(href="javascript:void(0);", onclick="if(confirm('¿Está seguro que desea eliminar este registro?')){this.parentNode.submit();}") Eliminar
  -else
    p No existen Usuarios creados